//fonts
@import url('https://fonts.googleapis.com/css?family=Abel|Advent+Pro:400,700');
$header-font:'Abel', sans-serif;
$content-font:'Advent Pro', sans-serif;

//Colors
$font-main-color:#2F2E2E;
$font-secondary-color:#ffffff;
$background-color: #292B31;
$dolartoday-light:#7ED320;
$dolartoday-dark:#71BE1D;
$bitcoin-light:#42A5F6;
$bitcoin-dark:#3B94DD;